@model IEnumerable<RPA.Models.Questions>

@{
    ViewData["Title"] = "Index";
}





<section class="content-header">
    <div class="header-icon">
        <i class="fa fa-users"></i>
    </div>
    <div class="header-title">
        <h1>Question</h1>
        <small>Question List</small>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12 pinpin">
            <div class="card lobicard" data-sortable="true">
                <div class="card-header">
                    <div class="card-title custom_title">
                        <h4>Add Question</h4>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                    <div class="btn-group d-flex" role="group">
                        <div class="buttonexport" id="buttonlist">
                            <a class="btn btn-add" asp-action="Create">
                                <i class="fa fa-plus"></i> Add Question
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                            <thead class="back_table_color">
                                <tr class="info">
                                    <th>@Html.DisplayNameFor(model => model.title)</th>
                                    <th>@Html.DisplayNameFor(model => model.answers)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.answers)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#customer1" onclick="location.href='@Url.Action("Edit", "Questions", new { id = item.Id })'">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "Questions", new { id = item.Id })'">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

















@* 
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.answers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.answers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table> *@
